@import url(' https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color: #14213d;
    --secondary-color:#fca311;
    --accent1-color: #e5e5e5;
    --accent2-color: #ffffff;
  
    --heading-font: ' Quicksand ';
    --paragraph-font: 'Roboto';
  
    --nav-background-color: #14213d;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #fca311;
    --nav-hover-background-color: #14213d;
  }

body {
    font-family: 'Quicksand', 'Roboto';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
   /* background-color: #333;*/
   /* color: #fff;*/
    text-align: center;
    padding: 1em; 

    background-color: var(--nav-background-color);
   /* padding: 0.7rem 0 0.7rem 0; */
    padding-left: 4rem;
    display: grid;
    grid-template-columns: 1fr 30fr;
}

header nav {
    background-color: var(--nav-background-color); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10rem 0 5rem;
  }
  
  header nav a {
    display: block; 
    padding: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    color: white; 
    font-size: 1.2rem;
    font-weight: 700;
      }
   
      
   header a:hover {
    color: #fca311;
  } 

/*........................main.............................*/

figure {
    color: #e5e5e5;
    font-weight: 700;
}

a[href^="tel:"] {
    color: #fca311; 
}

a[href^="mailto:"] {
    color: #fca311; 
}

h2 {
font-family: 'Quicksand';    
font-weight: 700;
color: #fca311;
}

h1 {
    font-family: 'Quicksand';    
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-top: -1em;
}

.h2 {
    font-family: 'Quicksand';    
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
} 

p {
 color: #ffffff;
 font-weight: 500;   
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 5em;
    background-color: #15616d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-info{
    flex: 1;
    padding: 1em;
}

.contact-form {
    flex: 1;
    padding: 1em;
    margin-right: -3em;
    color: #fca311;
    font-weight: 700;
}

.form-item {
    display: grid;
    align-items: center;
    padding: 0.5rem;
  }

.position {
grid-template-columns: 3fr 0fr;
}

.position1{
margin-right: -1em;
margin-left: -9em;
}

.position2 {
grid-template-columns: 0.9fr 0fr;
margin-bottom: -2em;
color: #ccc;
font-weight: 600; 
}

.position3 {
margin-right: 5em;
margin-top: -2em;
}


 .g{
    color: #fca311;
    font-weight: 700;
    margin-top: -1em;
    margin-bottom: -1em;
} 

.img {
display: grid;
grid-template-columns: 0fr 0fr;
margin-top: 11em;
margin-left: -5em;
}

.imga {
display: flex;
justify-content: center;
margin-left:-5.5em;
}

.contactinfo {
margin-top: 3em;
text-align: center;
}

.map{
display: flex;
justify-content: center;
margin-left: 0.7em;
}

/*
.comment {
display: grid;
margin: 1em;
margin-left: -4em;
margin-top: 1em;
color:#fca311;
font-weight: 700;
}
*/

.comment label {
margin-left: 0.9em;
}

label {
    margin-bottom: 0.5em;
}

input, textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.7em 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-left: 0.6rem;
}

button:hover {
 background-color: #fb8500;
}

/*....................................footer..........................................*/
 footer {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 10fr 1fr;  
 }

 
 footer P {
    text-decoration: none;
    color: var(--accent1-color); 
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-right: -7rem;
     }
     
     .sociallinks {
   padding-right: 1em;
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 1em;
     } 

     a {
    color: #e5e5e5;
    font-weight: 500;
    text-decoration: none;
     }

    footer a:hover {
    color: #fb8500;
    } 