
/*
Google fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
body {
    font-family: Roboto;
}
h1 {
    font-family: 'Rock Salt';
}


Safe fonts to use in-case there no internet google fonts won't work hence use this option

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
body {
    font-family: Roboto, Helvetica, sans-serif;
}
h1 {
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
}

*/

.callout {
	width: 400px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,.1);
	padding: 15px;
	background-color: #247;
	color: #fff;
        }

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 1px solid #000;
	padding: 3px;
	background-color: #bbb;
	width: 100px; 
	height: auto;
	        }

blockquote {
	margin: 0;
           }

cite {
	display: block; 
	border-top: 1px dotted #fff; 
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
     }



    /* web safe fonts

     body {
        font-family: Georgia;
    }

    h1 {
        font-family: 'Arial Black';
    }
    */